/*--------index css----*/
/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    display: flex;
    width: 20%;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 40%;
    border: 0px solid white;
    border-radius: 50px;
    padding: 3px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    /* background-color: rgb(40,40,40); */
    background-color:#454545; 
}
.navlist{
    display: flex;
    text-align: center;
    /* width: 50%; */
    width: 70%;
    /* background-color: yellowgreen; */
    
}
.rightnav{
    /* width: 50%; */
    width: 30%;
    /* background-color: violet; */
    text-align: right;
    padding: 0px 25px;   
}
.navlist li{
    list-style: none;
    padding: 30px 15px;
}
.navlist a{
    text-decoration: none;
    color: white;
}
.navlist a:hover{
    color:#ed3330;
}
#search{
    padding: 7px;
    /* margin: 4px 2px; */
    font-size: 14px;
    border: 2px solid grey !important;
    border-radius: 20px;
    outline: none;
    width: 27%;
    /* margin: auto; */
    
}
.background{
    background: #454545 url(../image/stay.jpg) repeat 0px 0px;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
}

.firstsection{
    height: 105vh;
}
.firsthalf{
width: 80%;
justify-content: center;
display: flex;
flex-direction: column;

}
.secondhalf{
    width: 30%;
}
.secondhalf img{
    width: 70%;
    /* border-radius: 80px; */
    border-radius: 23px;
    border: 1px solid white !important ;
    padding: 2px;
    margin: auto;
    display: block;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    max-width: 50%;
    margin: auto;
    height: 83%;
}
.text-big{
    font-size: 40px;
    /* font-family: 'Lobster', cursive !important; */
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}
.text-small{
    font-size: 25px;
    /* font-family: 'Crimson Text', serif !important; */
    font-family: 'Niconne', cursive;
}
.text-danger{
    color: #ed3330 !important;
}
input, textarea{
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 12px auto;
    /* display: flex; */
    padding: 9px 12px;
    max-width: 400px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid #ff4d4d ;
    outline: none;
    font-family: 'Crimson Text', serif !important;  
    border: 1px solid #ddd !important;
    border-radius: 6px;
/*     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
}
.sbton{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* display: flex; */
    padding: 3px;
    max-width: 400px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid indianred !important;
    outline: none;
    /* background:; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    
}
.sbton:hover{
    background: #ed3330 !important;
    letter-spacing: 1px;
    /* -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57); */
     transition: all 0.4s ease 0s;
}
.btn{
    padding: 9px 20px;
    margin: 8px 4px;
    border: 2px solid white;
    border-radius: 20px ;
    /* font-size: 9px; */
    background: none;
    color: white;
    outline: none;
}
.btn:hover{
    /* background: #ed3330; */
    background: #ed3330 !important;
    letter-spacing: 1px;
    /* -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57); */
     transition: all 0.4s ease 0s;
}
.btn-sm{
    padding: 5px 14px;   
    margin: 4px 2px;
    border: 2px solid white !important;
    border-radius: 20px;
    /* font-size: 10px; */
    background: none;
    color: white !important;
    outline: none;
}
.btn-sm:hover{
     /* background: #ed3330; */
     background: grey !important;
     letter-spacing: 1px;
     transition: all 0.4s ease 0s;
 }
.sectright{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* height: 400px; */
    max-width: 90%;
    margin: auto;
    /* background-color:#F9EBEA; */
    
}
.secleft{
    flex-direction: row-reverse;
}
.paras{
    padding: 0px 65px;
}
.thumbnail img{
    border: 1px solid #ddd !important ;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    width: 250px;
}
.sectiontag{
    padding: 16px 0px;
}
.contact{
    width: 100%;
    background-color:#F0E5E3;
/*     height: 525px; */
    height: auto;
    padding: 9px;
}
.heading{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    
}
.fillup{
    /* display: flex; */
    justify-items: center;
    align-items: center;
    max-width: 300px;
    margin: auto;
}
/* .frm{
    height: 61vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 4px;
    max-width: 300px;
    font-size: 16px;
    outline: none;
    border: 1px solid #ddd !important;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    
} */
.map-location{
    margin: -4px -18px;
}
.ft{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    padding: 10px;
    margin: 0px -17px;
    color: indianred;
    background-color:#dddddd !important;
    
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5% ;
    top: 15px;
    
}
.line{
    width: 30px;
    background-color: white;
    height: 4px;
    margin: 5px 5px;
    padding:0px 1px;
    border: 2px;
    border-radius:70px;
    background-color: rgba(241, 117, 95, 0.986);
}
